@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

:root {
    --1er-color: #05161a;
    --2do-color: #072e33;
    --3er-color: #0c7075;
    --4to-color: #0f989c;
    --5to-color: #6da5c0;
    --6to-color: #294d61;
    --font: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell;
}

body {
    background-color: #aaf4ff;

}

* {
    font-family: var(--font);
}

.containerservice {
    display: flex;
    flex-direction: column;
}

.subtitlecard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 103px 103px 10px 10px;
    padding: 0px 50px 0px 50px;
    background-color: rgba(128, 128, 128, 0.5);
}

/**** Banner ***/
.bannerservices {
    background-image: url(../img/servicios/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: rgba(170, 244, 255, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
}

.bannerservices h1 {
    text-align: center;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 0px 94px 0px 93px;
    width: 350px;
}

/********/

/*button tipos terapia*/
.buttonservices {
    font-weight: bolder;
    font-size: 14px;
    color: black;
    background-color: #5e97ba;
    padding: 10px 30px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    cursor: pointer;
    margin: 5px 0px 20px 0px;
}

.buttonservices:hover {
    transition: 800ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background-color: #0f989c;
    color: white;
    border: solid 2px #0066cc;
    font-weight: bolder;

}

/*************/

/*Evaluacion Psicologica*/
.containerevalpsi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: auto;
    margin-top: 40px;
}

.containertexteval {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    width: 100%;
}

.titleevalpsi {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;
}

.imgevalpsi {
    width: 28%;
    text-align: center;
    border-radius: 30px 0px 0px 30px;
}

.imgevalpsi img {
    width: 400px;
    padding-right: 6px;
}

.textevalpsi {
    width: 30%;
    display: flex;
    align-items: center;
    background-color: #4287a1;
    padding: 0px 50px 0px 50px;
    text-align: justify;
    font-size: 18px;
    border-radius: 30px 0px 0px 30px;
}

.textevalpsi:hover {
    transform: scaleX(1.05);
    transform-origin: center;
}

.caractevalpsi {
    width: 40%;
    display: flex;
    align-items: center;
    background-color: #5e97ba;
    text-align: justify;
    padding: 10px 40px 0px 40px;
    border-radius: 0px 30px 30px 0px;
    font-size: 18.5px;
}

.caractevalpsi:hover {
    transform: scaleX(1.05);
}

/*****************/
/*Terapia Individual*/
.containerind {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.cardtepi {
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    width: calc(100% / 5);
}

.onecardtepi {
    width: auto;
    height: 450px;
    background-color: var(--5to-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    text-align: justify;
}

.onecardtepi:hover {
    transform: scale(1.05);
    background-color: #5e97ba;
    letter-spacing: 0px;
}

.onecardtepi p {
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    font-size: 18px;
}

.onecardtepi h5 {
    text-align: center;
    font-weight: bold;
}

/*************/

/*Terapia Pareja*/
.containertepa {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;
}

.onecardtepa {
    width: auto;
    height: 360px;
    background-color: var(--5to-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    text-align: justify;
}

.onecardtepa:hover {
    transform: scale(1.03);
    background-color: #5e97ba;
    letter-spacing: 0px;
}

.onecardtepa p {
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
    font-size: 18px;
}

.onecardtepa h5 {
    text-align: center;
    font-weight: bold;
}

.cardtepa {
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    width: calc(100% / 3);
}

/*************/

/*Terapia Infantil*/
.containerteinf {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
}

.onecardteinf {
    width: auto;
    height: 380px;
    background-color: var(--5to-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    text-align: justify;
    border-color: 2px solid #072e33;
}

.onecardteinf:hover {
    transform: scale(1.03);
    background-color: #5e97ba;
    letter-spacing: 0px;
}

.onecardteinf p {
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
    font-size: 18px;
}

.onecardteinf h5 {
    text-align: center;
    font-weight: bold;
}

.cardteinf {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 10px;
    width: calc(100% / 3);
    justify-content: center;
}

/*************/

/*Terapia Grupal*/
.containergrup {
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 100px;
}

.cardtegru {
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    width: calc(100% / 3);
}

.onecardtegru {
    width: auto;
    height: 450px;
    background-color: var(--5to-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    text-align: justify;
}

.onecardtegru:hover {
    transform: scale(1.03);
    background-color: #5e97ba;
    letter-spacing: 0px;
}

.onecardtegru p {
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    font-size: 18px;
}

.onecardtegru h5 {
    text-align: center;
    font-weight: bold;
}

/*************/


/*** Asesoramiento vocacional ***/
.containerasevoc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    width: 70%;
    
}

.containerasevoc h5 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 700;
    
    
}

.asevoccontent {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    justify-content: center;
    


}

.textasevoc {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 50px;
    justify-content: center;
    font-weight: 500;
    background-color: var(--5to-color);

}

.textasevoc ul li {
    text-align: left;
    line-height: 35px;
    font-weight: 600;

}


.image1asevoc {
    max-width: 30%;
    display: flex;
    
}
.img1asevo{
    border-radius: 30px 0px 0px 30px;
}

.image2asevoc {
    display: flex;
    width: 30%;
}
.img2asevo{
    border-radius: 0px 30px 30px 0px;
}