/* ---------------------- Colores y Fuentes -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');

:root {
  --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
  --color-0: #049baed9; /*0%*/
  --color-1: #1e7898; /*20%*/
  --color-2: #165a72; /*40%*/
  --color-3: #0f3c4c; /*60%*/
  --color-4: #d3eaf2; /*80%*/
  --color-5: #ffffff; /*100%*/
}

/* ------------------------ Estilos del formulario -------------------------- */
html,
body {
    background-color: var(--color-4);
  font-family: var(--font);
  height: 90vh;
  margin: 0;
  padding: 0;
}

/* Estilos para el formulario */
main {
    background-color: var(--color-4);
  color: var(--color-5);
  font-family: var(--font), sans-serif;
  display: flex;
  flex-direction: column;
  height: 80vh;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

/* Estilos personalizados para el contenedor izquierdo dentro de contactMain */
#contactMain #leftContainer {
    color: var(--color-5);
    font-family: var(--font);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  /* Estilos personalizados para el texto dentro del contenedor izquierdo */
  #contactMain #leftContainer h1 {
    margin-top: 100px;
  }
  
  #contactMain #leftContainer h6 {
    font-style: italic;
  }
  
  /* Estilos personalizados para el contenedor derecho dentro de contactMain */
  #contactMain #rightContainer {
    background-color: var(--color-1);
    padding: 20px;
  }
  
  /* Estilos personalizados para el formulario dentro de contactMain */
  #contactMain #contactForm {
    margin-top: 20px;
  }
  
  #contactMain #contactForm .form-group label {
    font-weight: bold;
  }
  
  #contactMain #contactForm .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-5);
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  #contactMain #submitButton {
    margin-top: 10px;
    background-color: var(--color-2);
    color: var(--color-5);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }

  #contactMain #submitButton:hover {
    background-color: var(--color-3);
    color: var(--color-5);
  }
  
  