@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
/*navbar */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

/*icono*/
:root {
    --1er-color: #05161A;
    --2do-color: #072E33;
    --3er-color: #0C7075;
    --4to-color: #0f989c;
    --5to-color: #6da5c0;
    --6to-color: #294D61;
    --font: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
}

* {
    font-family: var(--font);
}

.containerservice {
    display: flex;
    flex-direction: column;
}


.subtitlecard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 400px;
    margin-right: 400px;
}



/*button tipos terapia*/
.buttonservices {
    font-weight: bolder;
    font-size: 14px;
    color: black;
    background-color: #5e97ba;
    padding: 10px 30px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    cursor: pointer;
    margin: 5px 0px 20px 0px;

}

.buttonservices:hover {

    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background-color: #0f989c;
    color: white;
    border: solid 2px #0066cc;
    font-weight: bolder;
}
/*************/


/*Terapia Individual*/
.containerind {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 20px;

}

.cardtepi {
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    width: calc(100% / 5)
}

.onecardtepi {
    width: auto;
    height: 400px;
    background-color: var(--5to-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    text-align: justify;

}

.onecardtepi:hover {
    zoom: 1.03;
    background-color: #5e97ba;
}

.onecardtepi p {
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    font-size: 18px;
}

.onecardtepi h5 {
    text-align: center;
    font-weight: bold;
}

/*************/



/*Terapia Pareja*/
.containertepa {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;
}

.onecardtepa {
    width: auto;
    height: 300px;
    background-color: var(--5to-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    text-align: justify;

}

.onecardtepa:hover {
    zoom: 1.03;
    background-color: #5e97ba;
}

.onecardtepa p {
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
    font-size: 18px;
}

.onecardtepa h5 {
    text-align: center;
    font-weight: bold;
}

.cardtepa {
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    width: calc(100% / 3)
}

/*************/

/*Terapia Infantil*/
.containerteinf {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
}

.onecardteinf {
    width: auto;
    height: 315px;
    background-color: var(--5to-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    text-align: justify;
    border-color: 2px solid #072E33;

}

.onecardteinf:hover {
    zoom: 1.025;
    background-color: #5e97ba;
}

.onecardteinf p {
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
    font-size: 18px;
}

.onecardteinf h5 {
    text-align: center;
    font-weight: bold;
}

.cardteinf {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 10px;
    width: calc(100% / 3);
    justify-content: center;
}

/*************/

/*Terapia Grupal*/
.containergrup {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;
}

}

.cardtegru {
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    width: calc(100% / 3)
}

.onecardtegru {
    width: auto;
    height: 400px;
    background-color: var(--5to-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    text-align: justify;

}

.onecardtegru:hover {
    zoom: 1.03;
    background-color: #5e97ba;
}

.onecardtegru p {
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    font-size: 18px;
}

.onecardtegru h5 {
    text-align: center;
    font-weight: bold;
}

/*************/