/* ------------------- Estilos de Navbar y Footer ----------------------- */

/* ---------------------- Colores y Fuentes -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');
:root {
  --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
  --color-0: #049baed9; /*0%*/
  --color-1: #1e7898; /*20%*/
  --color-2: #165a72; /*40%*/
  --color-3: #0f3c4c; /*60%*/
  --color-4: #d3eaf2; /*80%*/
  --color-5: #ffffff; /*100%*/
}

/* -------------- Estilos para todo el html ---------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
/* ---------------------- Fondo Semi-transparente ------------------- */
.bg-opacity {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(4, 155, 174, 0.633);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 9%;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.logo-text {
  font-size: 30px;
  font-weight: 700;
  color: var(--color-5);
  line-height: 70px;
}

.logo-img {
  margin-left: 10px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a {
  color: var(--color-5);
  margin-left: 60px;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  font-weight: 700;
  transition: all .50s ease;
  font-family: var(--font);
}

.nav a:hover {
  border-bottom: 2px solid var(--color-5);
}
/* --------------- Icono menú para dispositivos móviles ------------ */
#menuIcon {
  color: var(--color-2);
  font-size: 30px;
  z-index: 10;
  cursor: pointer;
  display: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-0);
  color: var(--color-3);
  padding: 30px 9%;
  margin: auto;
  height: 100%;
}

.footer-left,
.footer-right {
  flex-basis: 50%;
}
